.aboutscontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2% 10%;
  background-color: #000;
  color: #fff;
  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    &__img {
      img {
        width: 323px;
        height: 323px;
      }
    }
    &__title {
      font-size: 48px;
      span {
        color: #fdb827;
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    h4 {
      margin: 12px 0;
    }
  }
}
