.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242423;
  padding: 20px;
  color: #eeecec;
  letter-spacing: 1px;
  &__socials {
    display: flex;
    gap: 20px;
  }
}
