.notFound {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  h1 {
    font-size: 80px;
  }
  p {
    font-size: 60px;
    font-weight: 300;
  }
}
