.homesContent {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000;
  &__topImg {
    position: absolute;
    top: 0;
    left: 8%;
    img {
      width: 440px;
      height: 440px;
    }
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10%;
    color: #fff;
    h1 {
      text-align: center;
      font-size: 60px;
      letter-spacing: 1px;
    }
    p {
      text-align: center;
      letter-spacing: 1px;
    }
  }
  &__bottomImg {
    position: absolute;
    bottom: -64px;
    right: 8%;
    img {
      width: 362px;
      height: 362px;
    }
  }
}
