.journey {
  width: 100%;
  //   height: 100vh;
  display: grid;
  grid-template-columns: 9fr 3fr;
  background-color: #000;
  color: #eeecec;
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    &__top {
      display: flex;
      gap: 10%;
      &__right {
        display: flex;
        flex-direction: column;
        gap: 10%;
        h1 {
          font-size: 48px;
          line-height: 60px;
        }
        p {
          color: #ffffff73;
        }
      }
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
  aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    background-color: #131313;
    h2 {
      padding-bottom: 16px;
    }
    select {
      background-color: transparent;
      color: #eeecec;
      height: 48px;
      border: 1px solid #555555;
      border-radius: 12px;
      outline: none;
      cursor: pointer;
      option {
        background-color: #131313;
      }
    }
    .timelineInfo {
      display: flex;
      flex-direction: column;
      p {
        &:first-child {
          color: #ffffff73;
          padding: 8px 0;
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        border: 1px solid #555555;
        border-radius: 12px;
        padding: 12px;
        gap: 8px;
        background-color: #191919;
        h4 {
        }
        p {
        }
      }
    }
  }
}
